/* Write your CSS here */
.simpletodos-bg {
  background-color: #ffc2a0;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.simpletodos-container {
  width: 95vw;
  background-color: #ffffff;
  background-size: cover;
  border-radius: 15px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}

.todos-title {
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #ff8542;
  padding: 25px;
}

.unordered-list {
  list-style-type: none;
  padding-left: 0px;
}

.add-todo-input {
  height: 35px;
  width: 63%;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
}

.add-todo-input:focus {
  outline: none;
}

.add-button {
  background-color: #ff8542;
  color: white;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 3px;
  margin-left: 30px;
  font-weight: 500;
  font-family: 'Roboto';
  cursor: pointer;
}
